.js-typed-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 300;
}

.js-tupang-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 46px;
  font-weight: 600;
}

.typed-cursor {
  font-size: 36px;
}
